<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">


  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AngajatiServlet</servlet-name>
    <servlet-class>servlet.AngajatiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AngajatiServlet</servlet-name>
    <url-pattern>/angajati</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ClientiServlet</servlet-name>
    <servlet-class>servlet.ClientiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientiServlet</servlet-name>
    <url-pattern>/clienti</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ComenziServlet</servlet-name>
    <servlet-class>servlet.ComenziServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComenziServlet</servlet-name>
    <url-pattern>/comenzi</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EvaluariServlet</servlet-name>
    <servlet-class>servlet.EvaluariServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EvaluariServlet</servlet-name>
    <url-pattern>/evaluari</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FurnizoriServlet</servlet-name>
    <servlet-class>servlet.FurnizoriServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FurnizoriServlet</servlet-name>
    <url-pattern>/furnizori</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MaterialeServlet</servlet-name>
    <servlet-class>servlet.MaterialeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaterialeServlet</servlet-name>
    <url-pattern>/materiale</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TransportatoriServlet</servlet-name>
    <servlet-class>servlet.TransportatoriServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransportatoriServlet</servlet-name>
    <url-pattern>/transportatori</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ImportAngajatiServlet</servlet-name>
    <servlet-class>servlet.ImportAngajatiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportAngajatiServlet</servlet-name>
    <url-pattern>/importAngajati</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AngajatiGraficServlet</servlet-name>
    <servlet-class>grafic.AngajatiGraficServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AngajatiGraficServlet</servlet-name>
    <url-pattern>/graficAngajati</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ComenziGraficServlet</servlet-name>
    <servlet-class>grafic.ComenziGraficServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComenziGraficServlet</servlet-name>
    <url-pattern>/graficComenzi</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EvaluariGraficServlet</servlet-name>
    <servlet-class>grafic.EvaluariGraficServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EvaluariGraficServlet</servlet-name>
    <url-pattern>/graficEvaluari</url-pattern>
  </servlet-mapping>
</web-app>
